<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @retail.user_id %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @retail.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @retail.address2 %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @retail.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @retail.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @retail.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @retail.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @retail.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @retail.facebook %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @retail.instagram %>
</p>

<%= link_to 'Edit', edit_retail_path(@retail) %> |
<%= link_to 'Back', retails_path %>
